body {
    display:grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 250px 1fr;
    height:100vh;

    margin:0px;
}
img {
    width: 100px;
}
h1 {
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
}
p {
    font-family: sans-serif;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    background-color: #286fb4;
    padding:20px;
}
.menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:white;
    padding:10px;
    padding-left:75px;
    padding-right:75px;
}
.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: #E2F0F9;
}

.logo-name {
    display:flex;
    align-items: center;
}
.logo-name h1 {
    color:white;
    font-family: sans-serif;
}
.logo-name img {
    width: 75px;
    margin:10px;
    filter:invert(1);
}

.page {
    display:flex;
    align-items: center;
}
.page h2 {
    color:white;
    font-family: sans-serif;
}
.page img {
    width:30px;
    margin:20px;
    filter:invert(1);
}

.top-half {
    display:flex;
    flex:2;
}
.bottom-half {
    display:flex;
    justify-content: space-between;
    flex:3;
}

.searchbar {
    display:flex;
    align-items: center;

    flex:1;
    padding-right: 500px;
}
.searchbar img {
    width:30px;
    margin-right:20px;
}
.searchbar input {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;

    background-color:lightgray;
    height: 50px;
    flex:1;
    border-radius: 30px;
}
.profile-half {
    display:flex;
    align-items: center;

    gap:30px;
}
.notification-icon {
    width:50px;
}
.small-pfp {
    width:75px;
    object-fit: cover;
    border-radius: 50%;
}

.greeting {
    display:flex;
    align-items: center;
}
.action-buttons {
    display: flex;
    align-items: center;
}

.content {
    display:grid;
    grid-template-columns: 3fr 1fr;
    border:4px solid green;
}
.main-content {
    display:flex;
    flex-direction: column;
}
.projects-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 30px;
    flex:1;
    margin: 30px;
    border: 4px solid yellow;
}
.project {
    flex:1;
}
.bottom-icons {
    display:flex;
    justify-content: right;
    gap:10px;
}
.bottom-icons img {
    width:25px;
}

.right-bar {
    display:flex;
    flex-direction: column;
}
.announcements {
    flex:1;
}
.trending {
    flex:1;
}
.trending-entry {
    display:flex;
}
.right-bar img {
    width:50px;
}